<h3>🔄 Stock {{type}} Notification</h3>
<p>
  Product: <strong>{{productName}}</strong>
</p>
<p>
  Adjustment type: <strong>{{type}}</strong>  
  &nbsp;|&nbsp;  
  Quantity: <strong>{{quantity}}</strong>
</p>
{{#if reference}}
  <p>Reference: {{reference}}</p>
{{/if}}
<p>
  Thank you,<br />
  Inventory Management System
</p>
